* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #3199f0;
}

/* Logo */

.logo-img{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img img{
    width: 315px;
    height: 117px;
}

/* Select do level */
.level{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.level select{
    width: 250px;
    height: 50px;
    padding: 10px;
    
    
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
    background: #ffc300;
    color: #0f0f0f;    
    outline: none;

    appearance: none;
    background-image: url('/img/down-arrow.svg');
    background-size: 20px;
    background-position: right 17px top 50%;
    background-repeat: no-repeat;
}


.level select:hover{
    
    outline: none;
    background-color: #ffaa00;
    transition: 100ms;
}

